body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a{
text-decoration: none;
}

ul,ol {
    list-style: none;
}


button {
    cursor: pointer;
}

.visually-hidden {
   white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 /*===================logo============*/
.logo{
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-part{
    color: #2e2f42;
}
 
 /*============================*/

  /*==============nav==========*/

.link-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.link-nav:hover,
.link-nav:focus{
    background-color: #404BBF
}
 /*===============================*/

/*==============address==========*/

.address{
    font-style: normal;
}

.link-address{
    color: #434455;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
 .link-address:hover,
 .link-address-focus{
    color: #404BBF;
 }
  /*===============================*/

  /*=========hero===========*/
.hero{
    background: #2e2f42;
    width: 1440px;
    height: 600px;
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-buy-btn{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}
 /*==================================*/

/* ============features============*/


.features{

}
.features-list{

}
.features-item{

}
.features-subitem{
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-item-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*=======================*/

/*================team==============*/

.team {
background: #f4f4fd;
}

.team-title {
   font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {

}

.team-item {}

.team-image {}

.team-subitem {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*===========================*/

/*=============portfolio=========*/

.portfolio {
   
}

.portfolio-title {
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-image {}

.portfolio-subitem {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*==================*/

/*===============footer===========*/


.footer {
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo-part {
color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}