body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2, 
h3, 
h4, 
h5, 
h6, 
p{
    margin-bottom: 0;
    margin-top: 0;
}
a{
text-decoration: none;
}

ul,ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}


button {
    cursor: pointer;
}

.visually-hidden {
   white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


 /*===================logo============*/

 .container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
 }
 .header{
   border-bottom: 1px solid #E7E9FC;
 }
 .header-container{
    display: flex;
    align-items: center;
 }
 .navigation{
    display: flex;
    align-items: center;
 }

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-right: 76px;
}
.logo-part{
    color: #2e2f42;
}
 .nav-list{
    display: flex;
    gap: 40px;
 }


 /*============================*/

  /*==============nav==========*/

.link-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}
.link-nav:hover,
.link-nav:focus{
    color: #404bbf;
}
 /*===============================*/

/*==============address==========*/

.address{
    font-style: normal;
    margin-left: auto;
}
.address-list{
    display: flex;
    gap: 40px;
}
.link-address{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 .link-address:hover,
 .link-address:focus{
     color: #404BBF;
 }
  /*===============================*/

  /*=========hero===========*/
.hero{
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-wrap{
display: block;
}
    


.hero-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
}

.hero-buy-btn{
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    background-color:#4d5ae5;
    min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
.hero-buy-btn:hover{
    background-color: #404BBF;
}
.hero-buy-btn:focus{
    background-color: #404BBF;
}

 /*==================================*/

/* ============features============*/


.features{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list{
    display: flex;
    gap: 24px;
}
.features-item{
flex-basis: calc((100% - 72px) / 4);
}
.features-subitem{
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-item-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*=======================*/

/*================team==============*/

.team {
 background-color: #f4f4fd;
 padding-top: 120px;
 padding-bottom: 120px;
}

.team-title {
    text-transform: capitalize;
   font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 162px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-list {
display: flex;
gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    margin-right: 24px;
}

.team-image {}

.team-subitem {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*===========================*/

/*=============portfolio=========*/

.portfolio {
 background-color: #FFFFFF;
 padding-top: 120px;
 padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
      text-transform: capitalize;
      max-width: 218px;
    margin: 0 auto;
    margin-bottom: 72px;
}


.portfolio-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
margin-bottom: 48px;
}
    

.portfolio-item {
   
}

.portfolio-image {
}

.portfolio-subitem {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*==================*/

/*===============footer===========*/


.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.footer-logo-part {
color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        
}